.widget-carousel.app_article_carousel,
.widget-carousel.app_article_carousel_nav {
  height: 300px;
  width: 300px;
}
.widget-carousel.app_article_carousel img,
.widget-carousel.app_article_carousel_nav img {
  max-height: 300px;
}
.widget-carousel.app_article_carousel_nav {
  height: 150px;
}
.widget-carousel.app_article_carousel_nav img {
  max-height: 150px;
  width: 100px;
}
.app-article-visual-column {
  width: 40px!important;
  max-width: 40px!important;
  padding-left: 0!important;
  padding-right: 0!important;
}
.app-article-visual-column img {
  display: block;
  margin: 0 auto;
}
.family-node {
  padding: 6px 10px !important;
  border-radius: 8px;
  border: 1px solid #808e95;
  background-color: #b0bec5;
}
