.widget-carousel{
	&.app_article_carousel,
	&.app_article_carousel_nav{
		height:300px;
		width:300px;
		img{
			max-height:300px;
		}
	}
	&.app_article_carousel_nav{
		height:150px;
		img{
			max-height:150px;
			width:100px;
		}
	}
}

.app-article-visual-column{
	width: 40px!important;
	max-width: 40px!important;
	padding-left: 0!important;
	padding-right: 0!important;
	img{
		display: block;
		margin: 0 auto;
	}
}